[package]
name = "settings_ui"
version = "0.1.0"
edition.workspace = true
publish.workspace = true
license = "GPL-3.0-or-later"

[lints]
workspace = true

[lib]
path = "src/settings_ui.rs"

[features]
hotpath = ["dep:hotpath", "hotpath/hotpath"]
hotpath-alloc-bytes-total = ["hotpath/hotpath-alloc-bytes-total"]
hotpath-alloc-count-total = ["hotpath/hotpath-alloc-count-total"]
hotpath-off = ["hotpath/hotpath-off"]
channels-console = ["dep:channels-console"]
default = []
test-support = []

[dependencies]
hotpath = { version = "0.6", optional = true }
channels-console = { version = "0.3", optional = true, features=['tokio', 'futures'] }
anyhow.workspace = true
bm25 = "2.3.2"
editor.workspace = true
feature_flags.workspace = true
fs.workspace = true
fuzzy.workspace = true
gpui.workspace = true
heck.workspace = true
log.workspace = true
menu.workspace = true
paths.workspace = true
picker.workspace = true
project.workspace = true
release_channel.workspace = true
schemars.workspace = true
search.workspace = true
serde.workspace = true
settings.workspace = true
strum.workspace = true
telemetry.workspace = true
theme.workspace = true
title_bar.workspace = true
ui.workspace = true
ui_input.workspace = true
util.workspace = true
workspace.workspace = true
zed_actions.workspace = true

[dev-dependencies]
assets.workspace = true
client.workspace = true
futures.workspace = true
gpui = { workspace = true, features = ["test-support"] }
language.workspace = true
node_runtime.workspace = true
paths.workspace = true
pretty_assertions.workspace = true
session.workspace = true
settings.workspace = true
zlog.workspace = true
